

.login {
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  
  
    gap: 20px;
    height: 100vh;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    background-color: #f8f9fd;
  }
  
  .login-wrapper {
    min-height: 300px;
    width: 400px;
    margin: 40px auto;
    background-color: white;
    padding: 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .input-container {
    gap: 5px;
    margin: 10px;
  }

  .button-container {
    display: flex;
    justify-content: center;
  }

  

  
  
  